%footer
	.container
		.col-md-3
			%ul.list-unstyled
				%li.title STUDIO
				%li
					%a{:href => "/studio#company", :title => ""} Company
				%li
					%a{:href => "/studio#parnters", :title => ""} People
				%li
					%a{:href => "/studio#toolkit", :title => ""} Toolkit
				/ %li
				/ 	%a{:href => "/studio#community", :title => ""} Community
		.col-md-3
			%ul.list-unstyled
				%li.title Services
				%li
					%a{:href => "/studio#services", :title => ""} Information design
				%li
					%a{:href => "/studio#services", :title => ""} Interaction / UX design
				%li
					%a{:href => "/studio#services", :title => ""} Technical Consulting
				%li
					%a{:href => "/studio#services", :title => ""} Technical development
		.col-md-3
			%ul.list-unstyled
				%li.title Products
				%li
					%a{:href => "/products#resumite", :title => ""} Resumite
				%li
					%a{:href => "/products#infoclot", :title => ""} InfoClot
				/ %li
				/ 	%a{:href => "/products#geekfunnel", :title => ""} GeekFunnel
		.col-md-3
			%ul.list-unstyled
				%li.title Contact
				%li
					%a ravi@inspirationedge.com
				%li
					%a +919717860747