.page-hero.page-hero-home
	.page-hero-inner
		.container
			.spinner.pull-right
				.rect1
				.rect2
				.rect3
				.rect4
			%p.lead BUILDING TECH PRODUCTS </br> FOR THE <span class="typewriter">PEOPLE</span>
.container
	%section.row.page-section
		.col-md-12
			%p.company-description Inspiration Edge is a design driven software company and a community of passionate individuals, thinking disruptively to revolutionize the IT industry and create positive social change.
			%p.company-description We work with ambitious people and organizations to provide software delivery, pioneering tools and consulting in commercial, social, educational and government sectors. We believe in improving quality of living with technology and sharing what we learn by running events, conferences and contributing to open source.
	%section.page-section.work
		%h2.main-heading RECENT PROJECTS
		.row
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'portfolio/work_nrlm.jpg'
					.caption
						%h3 Aajeevika
						%p Design and development of the dashbaord for Aajeevika- National Rural Livelihood Mission, an initiative launched by Ministry of Rural Development, Government of India.
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'portfolio/work_nrega.jpg'
					.caption
						%h3 NREGA
						%p Design and development of the dashbaord for National Rural Employment Guarntee Act, an initiative launched by Ministry of Rural Development, Government of India.
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'portfolio/work_infoclot.jpg'
					.caption
						%h3 Infoclot
						%p Design and development of InfoClot, a growth hacking, data journalism and content discovery platform for media publishers and news seekers .
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'portfolio/resumite.jpg'
					.caption
						%h3 Resumite
						%p Design and development of Resumite - Reflecting the professioanl in you , an online resume builder product for students and professionals.
	%section.page-section.work
		%h2.main-heading PEOPLE WE WORK WITH
		.row
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'clients/epod.png'
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'clients/jpal.png'
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'clients/aaj.png'
			.col-xs-6.col-md-3
				.thumbnail
					=image_tag 'clients/ddugky.png'