.page-hero.page-hero-products
	.page-hero-inner
		.container
			%p.lead PRODUCTS
.container
	%section#resumite.row.page-section.product-section
		.col-md-5
			%h2.side-heading Resumite
			%p Build, design and track elegant resumes in minutes using Resumite. A tool for reflecting the professional in you.
			%a.btn.btn-info{:href => "http://www.resumite.com", :title => "", :target =>"_blank"} Visit Resumite
		.col-md-5.col-md-offset-2.text-right
			=image_tag 'products/resumite.png', :class => "product-image"
	%section#products.row.page-section.product-section
		.col-md-5
			%h2.side-heading InfoClot
			%p Info Clot is a growth hacking and content discovery platform for media publishers and news seekers.
			%a.btn.btn-info{:href => "http://www.infoclot.com", :title => "", :target =>"_blank"} Visit InfoClot
		.col-md-5.col-md-offset-2.text-right
			=image_tag 'products/infoclot.png', :class => "product-image"
			