#company.page-hero.page-hero-studio
	.page-hero-inner
		.container
			%p.lead INSEDGE STUDIO
			/ %h2 The home of InsPirates
.container
	%section.row.page-section
		.col-md-2
			%h2.side-heading Company
		.col-md-10
			%p Inspiration Edge is a design driven software company and a community of passionate individuals, thinking disruptively to revolutionise the IT industry and create positive social change.
			%p We work with ambitious people and organizations to provide software delivery, pioneering tools and consulting in commercial, social, educational and government sectors. We believe in improving quality of living with technology and sharing what we learn by running events, conferences and contributing to open source.
	%section#parnters.row.page-section
		.col-md-2
			%h2.side-heading Partners
		.col-md-10
			.row
				.col-md-6.text-center
					=image_tag 'ravisuhag.png'
					%h3	RAVI SUHAG
					%p  Designer, developer, thinker, passionate about ideas, logic and implementation with undying attitude of inspiring the GenY.
				.col-md-6.text-center
					=image_tag 'parveensuhag.png'
					%h3 PARVEEN SUHAG
					%p Out of box thinker, passionate about nature, wild life and photography. A guy living life on the edge of innovation.
	%section#toolkit.row.page-section.page-section-toolkit
		.col-md-2
			%h2.side-heading TOOLKIT
			
		.col-md-10
			%p Our workflow comprises latest tool and  technologies to improve productivity and satisfaction when building a tech product. Tools we love to work with includes NodeJS, AngularJS, MongoDB, D3, Python, Grunt, Ruby. We also love and flexible to adopt new technologies as per client's demand. <br><br>
			.row
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/nodejs.jpg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/Ruby_logo.jpg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/mongodb.jpg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/angular.jpg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/js.svg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/gc.svg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/html5.jpg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/yeo.jpg'
				.col-xs-4.col-md-1
					.thumbnail
						=image_tag 'toolkit/cs6.jpg'

	%section#services.row.page-section.page-section-toolkit
		.col-md-2
			%h2.side-heading SERVICES
		.col-md-10	
			%p Our services range from simple dashboard which illustrate key points to complex visualisations of systems and processes. Our software development approach is agile and focused on the user.
			%p Whether it’s a simple app or a complex web platform our solutions are always user centered, clean, functional and follows  structure, simplicity, visibility and reuse.<br><br><br>
			.row.services
				.col-md-3.text-center
					=image_tag 'services/information.png'
					%h4 Information Design
				.col-md-3.text-center
					=image_tag 'services/info.png'
					%h4 Interaction / UX design
				.col-md-3.text-center
					=image_tag 'services/consulting.png'
					%h4 Technical Consulting
				.col-md-3.text-center
					=image_tag 'services/dev.png'
					%h4 Technical Development
			%br <br><br>

